<div class="table-responsive-md">
    <table class="table table-striped table-bordered table-sm"
           data-height="360"
           data-search="true"
           data-show-search-clear-button="true"
           data-fixed-columns="true"
           data-fixed-header="true"
           data-horizontal-scroll="true"
           data-vertical-scroll="true"
           data-pagination="true"
    >
        <thead class="table-dark">
            {{ table_header }}
        </thead>
        <tbody>
            {{ table_body }}
        </tbody>
    </table>
</div>

